.wrapper {

    flex: content-box;
    border: black 2px solid;
    margin: 0 auto;
    width: 450px;
    background-color: #FFA07A;
    border-radius: 10px;
    margin-top: 10px;

}
.thingsToDO {

    text-align: center;
    background-color: chocolate;
    color: black;
    font-size: large;
    font-weight: bold;




}

