.wrapper {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 5px dotted black;
    border-radius: 40px;
    background-color: #FFA07A;
    text-align: center;

}
.title {
    font-family: "Arial Rounded MT Bold",serif;
    background-color: red;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;


}

