.MainContainer {
    width: 300px;
    background-color: red;
    border-radius: 10px 10px 10px 0;
    font-size: 14px;
    padding: 10px;
    color: white;
    overflow-wrap: break-word;
    position: relative;
    margin: 0 auto;

}

.MainContainer__userName {
    margin-bottom: 5px;
    color: yellow;
}



.MainContainer::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid red;
    left: -20px;
    bottom: 0px;
}

.TimeDate {
    text-align: right;
}

.avatar {
    height: 70px;
    width: 70px;
    position: absolute;
    left: -90px;
    bottom: 0px;
}


.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}